
%% we need some default deps installed in order to use seivy
{deps, [
    {os_env, ".*",
        {git, "http://github.com/nebularis/os_env.git"}},
    {parse_trans, ".*",
        {git, "http://github.com/esl/parse_trans.git"}},
    {annotations, ".*",
        {git, "http://github.com/hyperthunk/annotations.git"}},
    {memoize, ".*",
        {git, "http://github.com/nebularis/memoize.git"}}
]}.

{plugins, [rebar_annotations_plugin]}.
{annotations, [{registered, [memoize]}]}.
